.mainHeader{position: relative;
    display: flex;
    flex-flow: row wrap;
    height: 45px;
    background: #262626;
    font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
}

.h-left{position: static;
    flex-basis: 16%;
    flex-grow: 1;
    justify-content: flex-start;
    background-color: transparent;

}
.logo{
    padding-top: 10px;
    padding-left: 10px;
    width: 100px;

}
.h-mid{position: static;
    padding-top: 10px;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-top: 0;
}

.h-right{position: static;
    display: flex;
    align-items: center;
    flex-basis: 16%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    font-size: 12px;
}

.nav{color: azure;
    font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 5px;
    letter-spacing: 1px;
    font-weight: bold;

}

.text{color: beige;
    text-decoration: none;
    padding: 0 20px;
}

.line {
    border-color: azure;
    height: 25px;


}
.mainContent{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-right: 100px;
}
.content_short{
    max-width: 800px;
    font-size: 37px;
    padding-top: 70px;
    font-family: PF Regal,PF Regal Text Pro,Georgia,serif;
}
.content_full{
    display: flex;
    flex-flow: column nowrap;
    max-width: 650px;
    font-size: 20px;
    line-height: 25px;
    padding-right: 150px;
    font-family:  PF Regal,PF Regal Text Pro,Georgia,serif;
}
.minititle{
    display: flex;
    color: #757575;
    padding-right: 580px;
    padding-top: 13px;
}
.meduza{
    color: #757575;
}
.time{
    text-color: #757575;
    padding-left: 10px
}
.en {color: beige;
    text-decoration: none;
    padding: 0 20px;
    font-weight: bold;
}
.loop {width: 22px;
    padding-right: 20px;

}

.body{
    margin: 0 0 0 0px
}

.shapito{
    display: inline-block;
    background: #b88b58;
    border-color: #b88b58;
    color: #fff;
    font-size: 12px;
    line-height: 13px;
    font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 1px;

}